{% if template contains 'index' %}
	{% include 'product-grid' %}
{% else %}

<div class="product clearfix">
	<div class="product-header clearfix">
		<div class="product-title left">
			<h3>
				<a href="{{ product.url }}" alt="{{ product.title}}">{{ product.title }}</a>
			</h3>
		</div>

	{% include 'product-price' %}

	</div>

	<div class="product-wrapper left"  >
		<a href="{{ product.url }}" alt="{{ product.title}}">
			<img class="product-image left" src="{{ product.featured_image | product_img_url: 'compact' }}"  alt="{{ product.title }}"/>
		</a>

		{{ product.description }}
	</div>
{% endif %}