<li class="product">

			<div class="title">
				<a href="{{ product.url }}" alt="{{ product.title}}">{{ product.title }}</a>
			</div>
			<a href="{{ product.url }}" alt="{{ product.title}}">
				<img class="product-image" src="{{ product.featured_image | product_img_url: 'compact' }}"  alt="{{ product.title }}"/>
			</a>

	{% include 'product-price'%}

</li>