{%if settings.sm_facebook || settings.sm_twitter || settings.sm_youtube || settings.sm_vimeo || settings.sm_flickr || settings.sm_google_plus  %}
<div id="social" class="left">
	<ul id="sm-icons" class="clearfix">
    	{% if settings.sm_facebook %}<li><a href="{{settings.sm_facebook_link}}" class="icon" data-icon="&#xF003"></a></li>{% endif %}

      	{% if settings.sm_google_plus %}<li><a href="{{settings.sm_google_plus_link}}" class="icon" data-icon=" &#xf00d"></a></li>{% endif %}

      	{% if settings.sm_flickr %}<li><a href="{{settings.sm_flickr_link}}" class="icon ir" data-icon=" &#xf010"></a></li>{% endif %}

       	{% if settings.sm_twitter %}<li><a href="{{settings.sm_twitter_link}}" class="icon" data-icon=" &#xf004"></a></li>{% endif %}

      	{% if settings.sm_vimeo %}<li><a href="{{settings.sm_vimeo_link}}" class="icon" data-icon=" &#xf00f"></a></li>{% endif %}

      	{% if settings.sm_youtube %}<li><a href="{{settings.sm_youtube_link}}" class="icon" data-icon=" &#xf00e"></a></li>{% endif %}
    </ul>
</div>
{% endif %}