{%if settings.sm_facebook || settings.sm_twitter || settings.sm_youtube || settings.sm_vimeo || settings.sm_flickr || settings.sm_google_plus  %}
<div id="social" class="left">
	<ul id="sm-icons" class="footer-col clearfix">
    	{% if settings.sm_facebook %}<li  ><a href="{{settings.sm_facebook_link}}" class="foundicon-facebook"></a></li>{% endif %}
    
      	{% if settings.sm_google_plus %}<li><a href="{{settings.sm_google_plus_link}}" class="foundicon-google-plus"></a></li>{% endif %}
    
      	{% if settings.sm_flickr %}<li id="sm-flickr"><a href="{{settings.sm_flickr_link}}" class="foundicon-flickr"></a></li>{% endif %}
    
      	{% if settings.sm_twitter %}<li id="sm-twitter"><a href="{{settings.sm_twitter_link}}" class="foundicon-twitter"></a></li>{% endif %}
    
      	{% if settings.sm_vimeo %}<li id="sm-vimeo"><a href="{{settings.sm_vimeo_link}}" class="foundicon-vimeo"></a></li>{% endif %}
    
      	{% if settings.sm_youtube %}<li id="sm-youtube"><a href="{{settings.sm_youtube_link}}" class="foundicon-youtube"></a></li>{% endif %}
    </ul>
</div>
{% endif %}