<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      
        {% if template ==  'index' %}    
          <title>{{ shop.name }} | {{ shop.description }}</title>
        {% elseif %}
           <title>{{ page_title }} | {{ shop.name }}</title>
        {% endif %}
        
        {% if template contains 'product' %}
          <meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
        {% elseif shop.description != '' %}
          <meta name="description" content="{{ shop.description }}" />
        {% endif %}
        
        <link rel="canonical" href="{{ canonical_url }}" />
        
        <meta name="viewport" content="width=device-width">
       
        
        {{ 'style.css' | asset_url | stylesheet_tag }}
        {{ 'modernizr-2.6.2-respond-1.1.0.min.js' | asset_url | script_tag }}

        {{ content_for_header }}
    </head>
    
    <body class="wrapper">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
       
       <div id="aside">
         {% if settings.use_logo_image %}
          <img src="{{ 'logo.png' | asset_url }}" />
         {% else %}
          <h1 class="title"> {{shop.name}} </h1>
         {% endif %}
            <div id="nav">
               <ul>
                   {% for link in linklists.main-menu.links %}
                   <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a> </li>
                   {% endfor %}
               </ul>
            </div>
            {% include 'login' %}
            {% include 'social' %}
            
       </div>
       
       <div id="main">
            {{ content_for_layout }}
       </div>
       <div id="footer"> 
        {% include 'powered-by' %}
        {% include 'cart' %}
        {% include 'search' %}
       </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        {{ 'jquery-1.8.3.min.js' | asset_url | script_tag }}
        {{ 'main.js' | asset_url | script_tag }}
        
        {% include 'analytics' %}
          
    </body>
</html>